/MyMethod.class
/MyMethodTest.class
/Person.class
/PersonTest.class
/PersonTest_Insa.class
/MethodCallExam.class
/StaticDemo.class
/StaticMethodDemo.class
/staticDemoTest.class
/staticMethodDemoTest.class
/MethodTest.class
